.idea/
/ENV/
/RFID/
/lib/
/module/fetcl.dll
/module/feisc.dll
/module/FedmIscCoreVC110.dll
/module/fecom.dll
/module/fefu.dll
/module/RFID.lib
/module/RFID.pdb
/module/RFID.exp
!/lib/.gitkeep
!/RFID/RFID.sln
!/RFID/RFID.vcxproj
!/RFID/dllmain.cpp
